#div1{
    width: 500px;
    height: 300px;
    padding: 0.1px;
    background: red;
}

#div2{
    margin: 30px;
    padding: 20px;
    width: 400px;
    height: 200px;
    background: blue;
}

#div3{
    width: 400px;
    height: 200px;
    background: black;
}